*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,a:hover{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0!important;
}
img{
  // max-width: 100%;
}
//***************************************************
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.placeholder(@rules) {
    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}

.link_btn(@color: #fff){
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color:@color;
  font-size: 14px;
  font-family: @base_text_ff_bold;
}


.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.color-and-hover(@color: #6c97e5){
  color: @color;
  .transition(all .3s ease-in-out;);
  &:hover{
    filter: drop-shadow(0 0 10px @color);
  }
}
