@import 'fonts.less';
@import 'variables.less';
@import 'mixins.less';

body{
	text-align: center;
	background: url(../images/background-photo.jpg) no-repeat center center fixed;
	background-size: cover;
}
.title{
	font-family: @base_subtitle_text_ff;
	padding-bottom: 100px;
	font-size: 50px;
	color: #ce54b0;
}
.links{
	font-size: 50px;
	.row{
		justify-content: space-around;
		padding-bottom: 30px;
	}
	a{
		display: block;
		font-family: 'IntroRegular';
		&.hover{

		}
		&.mogo{
			.color-and-hover(#e88c83);
		}
		&.cuda{
			.color-and-hover(#87509c);
		}
		&.pink{
			.color-and-hover(#b73958);
		}
		&.whitesquare{
			.color-and-hover(#29c5e6);
		}
		&.flash-systems{
			.color-and-hover(#809124);
		}
	}
}