@base_text_ff: 'MontserratMedium';
@base_text_ff_bold: 'MontserratBold';
@base_subtitle_text_ff: 'KaushanScriptRegular';
@main_text_ff: 'RobotoRegular';
@main_italic_text_ff: 'RobotoLightItalic';

@main_text_color: #999999;
@base_hover_color: #fce38a;
@base_color: #f38181;
@base_decor_color: #95e1d3;

@sec_margin_bottom: 100px;
@sec_padding_top: 100px;

@iphone_width: 275px;
@ipad_width: 571px;


// <section class="amazing-services margin-between-section">
// 	<div class="container">
// 		<div class="section-content">
// 			<h3 class="main-subtitle">We work with</h3>
// 			<h2 class="main-title">Amazing Services</h2>
// 			<div class="main-line"></div>
// 		</div>
// 	</div>
// </section>